<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">

  <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="static/js/underscore-min.js"></script>
  <script type="text/javascript" src="static/js/d3.v3.min.js"></script>
  <script type="text/javascript" src="static/js/app.js"></script>

  <title>cap hits</title>
</head>

<body>

  <script type="text/underscore" id="popupTemplate">
    <h2><img src="static/img/logos/<%= data.logo %>.gif">  <%= data.location %> <%= data.team %></h2>
    <br clear="left">
    <table cellspacing=0>
      <tr class="position-summary">
        <td><h3 style="font-weight: bold"><%= data.position %></h3></td>
        <td class="salary">$<%= data.cap %></td>
      </tr>
      <tr class="padding"><td></td></tr>
    <% _.each(data.players, function(player) { %>
      <tr>
        <td class="player-name">
          <%= player.full_name %>
        </td>
        <td class="salary">$<%= player.small_cap %></td>
      </tr>
    <% }) %>
    </table>
  </script>

  <script type="text/underscore" id="linksTemplate">
      <% _.each(data.teams, function(team) { %>
        <div id="<%= team.name %>">
          <img src="static/img/logos/<%= team.name %>.gif">
          <br>
          $<%= (team.cap_total/1000000).toFixed(1) %>M
        </div>
      <% }) %>
  </script>

  <script type="text/underscore" id="currentTemplate">
    <div id="current-text">
      <h3><a href="http://<%= data.name %>.nhl.com" target="_blank"><%= data.location %> <%= data.full_name %></a></h3>
    </div>
    <div id="current-logo" class="logos">
      <img src="static/img/logos/<%= data.name %>.gif">
    </div>
  </script>

  <script type="text/underscore" id="statsTemplate">
    <div id="current-comparison">
      <table cellspacing=5>
        <tr>
          <th></th>
          <th>LW</th>
          <th>C</th>
          <th>RW</th>
          <th>D</th>
          <th>G</th>
        </tr>
        <tr>
          <td><%= data.full_name %>: </td>
          <td>$<%= data.lw_cap %>
          <td>$<%= data.c_cap %>
          <td>$<%= data.rw_cap %>
          <td>$<%= data.d_cap %>
          <td>$<%= data.g_cap %>
        </tr>
        <tr>
          <td>League Avg: </td>
          <td>$<%= data.stats.lw %>M
          <td>$<%= data.stats.c %>M
          <td>$<%= data.stats.rw %>M
          <td>$<%= data.stats.d %>M
          <td>$<%= data.stats.g %>M
        </tr>
      </table>
    </div>
  </script>
  <div id="links" class="logos"></div>
  <div id="current-team"></div>
  <div id="stats"></div>
  <div id="selected-position"></div>
  <svg id="ice">
    <g id="forwards">
      <circle id="lw" cx="280" cy="125" r="0" fill="#ffffff"/>
      <circle id="c" cx="460" cy="125" r="0" fill="#ffffff"/>
      <circle id="rw" cx="640" cy="125" r="0" fill="#ffffff"/>
    </g>
    <g id="defense">
      <circle id="d" cx="370" cy="275" r="0" fill="#ffffff"/>
      <circle id="d" cx="550" cy="275" r="0" fill="#ffffff"/>
    </g>
    <g id="goalie">
      <circle id="g" cx="460" cy="425" r="0" fill="#ffffff"/>
    </g>
  </svg>
  
  <br><br>

  <div id="footer" class="container">
    <p>
      Visualizing how teams spend their money. Larger circles represent more money spent. 
      <br>Hover over individual positions for more details.
      <br><br><br>
      Created by <a href="http://linkedin.com/in/meissler" target="_blank">Joe Meissler.</a>
      Data from <a href="http://http://capgeek.com/" target="_blank">capgeek.</a>
      Built using <a href="http://d3js.org" target="_blank">d3.js</a>
    </p>
  </div>
</body>
</html>